<div id="floater" style="display: none;">
    <a href="javascript:void(0)" onclick="javascript:esconde()" class="bt-fecharbanner">Clique aqui para fechar</a>	
    <div class="aviso">
        <div class="avatar">{{{avatar}}}</div>
        <span class="ident"><strong>{{}}</strong></span>
        <span class="ident" style="margin-top:3px"><strong></strong></span>
        <div class="content">
            <p>Olá, <strong>{{nome}}</strong><br />
            {{{notice}}}
            </p>
            <p> Seu acesso será bloqueado em {{teste}} dias.<br />			
                Data do bloqueio <em><strong>{{teste}}</em></strong><br /><br />
                Lembre-se de manter em dia nossa parceria.
            </p>

            <p>Caso já tenha efetuado o pagamento, favor desconsidere este aviso</p>
            <div class="ass">
                Email:{{email}}<br />
                Fone:{{fone}}
            </div>
        </div>	
    </div>
</div>
