<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{tema.title}}</title>
        <link rel="stylesheet" href="{{tema.url_plugin}}assets/css/bootstrap.min.css">
    </head>
    <body>         
        <!-- Modal -->
        <div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_label" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="alert-heading">{{tema.aviso}}</h4>
          </div>
          <div class="modal-body">
            {{tema.aviso_user}},
            <p>{{{tema.conteudo}}}</p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
          </div>
        </div>
        <script src="{{tema.url_plugin}}assets/js/jquery.min.js"></script>   
        <script src="{{tema.url_plugin}}assets/js/bootstrap.min.js"></script>	
        <script>
          $(window).load(function(){
              $('#modal').modal('show');
           });
        </script>
    </body>
</html>