/* 
    Document   : admin
    Created on : 26/07/2013, 11:39:39
    Author     : alissonaraujo
    Description:
        Purpose of the stylesheet follows.
*/

.content h2{color: #069 !important; font-size:12px}
